<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>Add Skills</title>
</head>
<body>

  <h2>Build your character.</h2>

    <p>Pick spells for your characters</p>


    <form action = '/add_skills_after_spells' method="POST">

      <p>
         
        {% for pick_one in growth_list %}
          <label>spell level {{ pick_one[1] }}</label>
          {% for spell in specific_spells %}
            {% if spell[0]|int() == pick_one[1]|int() %}
            <li>
            <input type="radio" name = "spell_id_{{ pick_one[0] }}" value="{{ spell[2] }}"/>
            <label> {{ spell[1] }}</label></li>
            {% endif %}
        {% endfor %}
            <br>
        {% endfor %}

            {% for i in unvariety %}
            <input type="hidden" name="spell_id_{{ i }}" id="spell_id_{{ i }}" value= "0">
            {% endfor %}
            <input type="hidden" name="user_id" id="user_id" value= "{{ user_id }}">
            <input type="hidden" name="template_id" id="template_id" value= "{{ template_id }}">
            <input type="hidden" name="char_id" id="char_id" value= "{{ char_id }}">
            <input type="hidden" name="attributes_id" id="attributes_id" value= "{{ attributes_id }}">
            <input type="hidden" name="character_level" id="character_level" value="{{ character_level}}">
            <input type= "submit">
    </form>
</body>
</html>


</body>
</html>
{% endblock %}