<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>Add Spells</title>
</head>
<body>
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5  bg-black"><font color="black">NOTHING</font></div>
      <div class="col py-3 px-lg-5  bg-black"><font color="black">NOTHING</font></div>
    </div>
  </div>    
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5  bg-black"><font color="black">NOTHING</font></div>
      <div class="col py-3 px-lg-5  bg-black"><font color="black">NOTHING</font></div>
    </div>
  </div>
 <div class="container">
    <div class="row mx-lg-n5">
      <div class="col-sm-5  bg-black">
        <H1 align="left" ><b>5. PICK SPELLS.</b></H1>
    </div>
    <div class="col-sm-6"><font color="black">NOTHING</font>
    </div>
        <div class="col-sm-6"><font color="black">NOTHING</font>
    </div>
  </div>
</div>


    <form action = '/add_skills_after_spells' method="POST">


        {% for pick_one in growth_list %}
<ul>
    <div class="container">
  <div class="row mx-lg-n5">
          <label><b>Spell Level {{ pick_one[1] }}:</b></label>
      </div></div>
              <div class="container">
  <div class="row mx-lg-n5">
            <div class="form-check">
          {% for spell in specific_spells %}
            {% if spell[0]|int() == pick_one[1]|int() %}
            <label class="form-check-label wide-form" for="inlineCheckbox1"> {{ spell[1] }}</label>
            <input class="form-check-input wide-form" id="inlineCheckbox1" type="radio" name = "spell_id_{{ pick_one[0] }}" value="{{ spell[2] }}"/>
            {% endif %}
        {% endfor %}
    </div>
</ul>
        {% endfor %}
      </div>
    </div>
</div>
         


            {% for i in unvariety %}
            <input type="hidden" name="spell_id_{{ i }}" id="spell_id_{{ i }}" value= "0">
            {% endfor %}
            <input type="hidden" name="user_id" id="user_id" value= "{{ user_id }}">
            <input type="hidden" name="template_id" id="template_id" value= "{{ template_id }}">
            <input type="hidden" name="char_id" id="char_id" value= "{{ char_id }}">
            <input type="hidden" name="attributes_id" id="attributes_id" value= "{{ attributes_id }}">
            <input type="hidden" name="character_level" id="character_level" value="{{ character_level}}">
            <div class="container">
      <div class="row mx-lg-n5">  
          <button class="btn btn-dark" type="submit" id="button-addon2">Submit</button>
        </form>
      </div>
    </div>


</body>
</html>
{% endblock %}