<!doctype html>
<html>
<head>
  <script 
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
</script>
  <title>role playing</title>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</head>

<body>
  Role Playing
  <hr>

    {% if 'user_id' in session %}
        <label>Log Out</label>
        <form action = '/log_out' method="GET">
        <input type = "submit" value="Log Out">
        </form>
    {% endif %}


  {% block content %} put your content here {% endblock %}

</body>
</html>