{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Attributes</title>
</head>
<body>

  <h2>Build your character.</h2>

      <p>Roll your attributes using 4d6 and throwing out the lowest roll in order to compile an attribute. Once you have completed this process six times you may insert them into the fields you want them to populate, then hit submit.,</p>

            <form action = '/builds_character' method="POST">
                  
                  <input type="number" name="strength"/>
                  <label>Strength:</label>
                  <br>
                  <input type="number" name="dexterity">
                  <label>Dexterity:</label>
                  <br>
                  <input type="number" name="constitution">
                  <label>Constitution:</label>
                  <br>
                  <input type="number" name="intelligence">
                  <label>Intelligence:</label>
                  <br>
                  <input type="number" name="wisdom">
                  <label>Wisdom:</label>
                  <br>
                  <input type="number" name="charisma">
                  <label>Charisma:</label>
                  <br>


                  <input type="hidden"  name="template_id" id="template_id" value= "{{ template_id }}">
                  <input type="hidden"  name="user_id" id="user_id" value= "{{ user_id }}">
                  <input type="hidden"  name="spec_id" id="spec_id" value= "{{ spec_id }}">
                  <input type="hidden"  name="char_name" id="char_name" value= "{{ char_name }}">
                  <input type="hidden"  name="flavor_txt" id="flavor_txt" value= "{{ flavor_txt }}">
                  <input type="hidden"  name="age" id="age" value= "{{ age }}">
                  <input type="hidden"  name="character_level" id="character_level" value= "1">
                  <input type="hidden"  name="experience_points" id="experience_points" value= "0">
                  <input type="hidden"  name="char_align" id="char_align" value= "{{ char_align }}">
                  <input type= "submit">
            </form>
<script>

    $('#rollDiceBtn').one('click', () => {

        const die1 = $('#die1');
        const die2 = $('#die2');

        const status = $('#status');

        var d1Sides = Number($('#characterInfo').data('die1'));

        var d1 = Math.floor(Math.random() * {{ hit_dice }}) + 1;
        var d2 = Math.floor(Math.random() * {{ hit_dice }}) + 1;
        var diceTotal = d1 + d2;
        die1.html(d1);
        die2.html(d2);
        if (d1 > d2)    {
            var dhp = d1;
        }   else {
            var dhp = d2;
        }
        
        var modHp = {{ conmod }} + dhp;

        var curHp = modHp + {{ hit_points }}

        status.html(`You rolled a ${d1} and ${d2}. 
            We've factored in your Constitution Modifier of {{ conmod }} making your current hit points ${curHp}. `);

        $('#hp').val(curHp);
    });


</script>
</body>
</html>
{% endblock %}