<!DOCTYPE html>
<html>
<head>
    <title>Independent Values</title>
</head>
<body>

  <h2>Build your character.</h2>
  		<form action = '/character_start' method="POST">
  <ul>	
  		
  		<label>Pick a name.</label><br>
  		<input type="text" name="char_name">
 
  </ul>
  <ul>

  		<label>Class Templates</label>
    {% for nfo in temp_nfo %}
      <li>
          <input type="radio" name = "template_id" value="{{ nfo[0] }}"/>
          <label> {{ nfo[1] }}</label>
      </li>
    {% endfor %}
	
  </ul>

  <ul>
  		<label>Species Types</label>
    {% for nfo in spec_nfo %}
      <li>
          <input type="radio" name = "spec_id" value="{{ nfo[0] }}"/>
          <label> {{ nfo[1] }}</label>
      </li>
    {% endfor %}
  </ul>
  <ul>	
  		<label>Describe your character.</label><br>
  		<textarea rows = "5" cols = "80" maxlength = "300" name="flavor_txt"></textarea>
  		
  </ul>
    <ul>	
  		<form action = '/character_start' method="POST">
  		<label>What is your characters age?</label><br>
  		<input type="number" name="age">
  		<input type= "submit">
  		</form>


  </ul>






</body>
</html>