<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<head>

    <title>Level Up!</title>

<style type="text/css">

</style>

</head>
<body>
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5  bg-black"><font color="black">NOTHING</font></div>
      <div class="col py-3 px-lg-5  bg-black"><font color="black">NOTHING</font></div>
    </div>
  </div>    
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5  bg-black"><font color="black">NOTHING</font></div>
      <div class="col py-3 px-lg-5  bg-black"><font color="black">NOTHING</font></div>
    </div>
  </div>  
 <div class="container">
    <div class="row mx-lg-n5">
      <div class="col-sm-5  bg-black">
        <H1 align="left" ><b>9. YOU ARE NOW LEVEL {{ character_level }}.</b></H1>
        </div>
        <div class="col-sm-6"><font color="black">NOTHING</font>
    </div>
        <div class="col-sm-6"><font color="black">NOTHING</font>
    </div>
  </div>
</div>
  </div>
 <div class="container">
    <div class="row mx-lg-n5">
      <div class="col-sm-5  bg-black">
        <H1 align="left" ><b>10. ROLL HIT POINTS.</b></H1>
        </div>
        <div class="col-sm-5"><font color="black">NOTHING</font></div>
        <div class="col-sm-6"><font color="black">NOTHING</font>
    </div>
  </div>
</div>

 <div class="container">
    <div class="row mx-lg-n5">
      <div class="col-sm-5  bg-black">
        <form action="/dependencies" method="POST" >
        <input type="hidden" name="hit_points" id="hp" value=""  />

        <div id="die1" class="dice">0</div><button class="btn btn-dark" type="button" id="rollDiceBtn">Roll Dice</button>
        <div id="die2" class="dice">0</div>
        <br><br><br>
        <div>Roll two D{{ hit_dice }}, and the larger of the two will contribute to your new hit points.
        <div id="status" style="clear:left;"></div>
        </div>
        <div class="col-sm-6"><font color="black">NOTHING</font>
        </div>
        <div class="col-sm-6"><font color="black">NOTHING</font>
    </div>
  </div>
</div>
 <div class="container">
    <div class="row mx-lg-n5">
      <div class="col-sm-5  bg-black">
        <H1 align="left" ><b>{% if attrib_plus ==  true %}11. INCREASE HITPOINTS{% endif %}</b></H1>
        </div>
        <div class="col-sm-5">
        </div>
        <div class="col-sm-6"><font color="black">NOTHING</font>
    </div>
  </div>
</div>
 <div class="container">
    <div class="row mx-lg-n5">
      <div class="col-sm-5  bg-black">
        {% if attrib_plus ==  true %}
<table>
    <tr>
        <th align="left"><t4>Abilities</t4></th>
        <th><t4>Score</t4></th>
        <th><t4>+</t4></th>
        <th><t4>+</t4></th>
    </tr>
    <tr>
        <td><t4>Strength</t4></td>
        <td align = "center" ><t4>{{ attributes[0] }}</t4></td>
        <td><input type="radio" name="attr_inc_1" value="strength" /></td>
        <td><input type="radio" name="attr_inc_2" value="strength" /></td>
    </tr>
    <tr>
        <td><t4>Dexterity</t4></td>
        <td align = "center" ><t4>{{ attributes[1] }}</t4></td>
        <td><input type="radio" name="attr_inc_1" value="dexterity" /></td>
        <td><input type="radio" name="attr_inc_2" value="dexterity" /></td>
    </tr>
    <tr>
        <td><t4>Constitution</t4></td>
        <td align = "center" ><t4>{{ attributes[2] }}</t4></td>
        <td><input type="radio" name="attr_inc_1" value="constitution" /></td>
        <td><input type="radio" name="attr_inc_2" value="constitution" /></td>
    </tr>
    <tr>
        <td><t4>Intelligence</t4></td>
        <td align = "center" ><t4>{{ attributes[3] }}</t4></td>
        <td><input type="radio" name="attr_inc_1" value="intelligence" /></td>
        <td><input type="radio" name="attr_inc_2" value="intelligence" /></td>
    </tr>
    <tr>
        <td><t4>Wisdom</t4></td>
        <td align = "center" ><t4>{{ attributes[4] }}</t4></td>
        <td><input type="radio" name="attr_inc_1" value="wisdom" /></td>
        <td><input type="radio" name="attr_inc_2" value="wisdom" /></td>
    </tr>
    <tr>
        <td><t4>Charisma</t4></td>
        <td align = "center" ><t4>{{ attributes[5] }}</t4></td>
        <td><input type="radio" name="attr_inc_1" value="charisma" /></td>
        <td><input type="radio" name="attr_inc_2" value="charisma" /></td>
    </tr>
</table>
{% endif %}
        </div>
        <div class="col-sm-5">
        </div>
        <div class="col-sm-6"><font color="black">NOTHING</font>
    </div>
  </div>
</div>





    <input type="hidden" name="strength" value= "{{ attributes[0] }}">
    <input type="hidden" name="dexterity" value= "{{ attributes[1] }}">
    <input type="hidden" name="constitution" value= "{{ attributes[2] }}">
    <input type="hidden" name="intelligence" value= "{{ attributes[3] }}">
    <input type="hidden" name="wisdom" value= "{{ attributes[4] }}">
    <input type="hidden" name="charisma" value= "{{ attributes[5] }}">
    <input type="hidden" name="age" value= "{{ age }}">
    <input type="hidden" name="char_align" value= "{{ char_align }}">
    <input type="hidden" name="experience_points" value= "{{ experience_points }}">
    <input type="hidden" name="flavor_txt" value= "{{ flavor_txt }}">
    <input type="hidden" name="spec_id" value= "{{ spec_id }}">
    <input type="hidden" name="template_id" value= "{{ template_id }}">
    <input type="hidden" name="user_id" value= "{{ user_id }}">
    <input type="hidden" name="character_level" value= "{{ character_level }}">
    <input type="hidden" name="char_name" value= "{{ char_name }}">
    <input type="hidden" name="attributes_id" value= "{{ attributes_id }}">
    <input type="hidden" name="char_id" value= "{{ char_id }}">

<div class="container">
      <div class="row mx-lg-n5">  
              <button class="btn btn-dark" type="submit" id="button-addon2">Continue</button>
            </form>
      </div>
</div>

<script>


    $('#rollDiceBtn').one('click', () => {

        const die1 = $('#die1');
        const die2 = $('#die2');

        const status = $('#status');

        var d1 = Math.floor(Math.random() * {{ hit_dice }}) + 1;
        var d2 = Math.floor(Math.random() * {{ hit_dice }}) + 1;
        die1.html(d1);
        die2.html(d2);
        if (d1 > d2)    {
            var dhp = d1;
        }   else {
            var dhp = d2;
        }
        
        var modHp = {{ conmod }} + dhp;
        var curHp = modHp + {{ hit_points }};

        status.html(`You rolled a ${d1} and ${d2}. 
            We've factored in your Constitution Modifier of {{ conmod }} making your current hit points ${curHp}. `);

        $('#hp').val(curHp);
    });


</script>
</body>
</html>
{% endblock %}
