p.big{
    float:left;
    width:32px;
    font-size:48px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-align:left;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}

}
body {
    margin: 0;
    font-family: GT Walsheim Pro, Arial, Helvetica;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

div.dice{
    float:left;
    width:32px;
    background:black;
    border:white 2px solid;
    padding:10px;
    border-radius: 5px;
    font-size:24px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-align:center;
    margin:5px;
}

.homepage nav {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  font-size: 1em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand, 
.nav-transparent p {
  color: black;
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color: #ffec5c;
}