{% extends 'base.html' %}
{% block content %}

<h1>Your Characters</h1>


<table style="width: 75%">

<tr><h3>
	<th align="left">Name</th>
	<th align="left">Class</th>
	<th align="left">Species</th>
	<th align="left">Level</th>
	<th align="left">Experience Points</th>
	</h3>
</tr>
	{% for i in user_chars_expand %}
<tr>
<form action = '/commit_char_true' method="POST">
<h5><th align="left">{{ i[1] }}</th>
	<th align="left">{{ i[8] }}</th>
	<th align="left">{{ i[9] }}</th>
	<th>{{ i[6] }}</th>
	<th>{{ i[5] }}</th>
<input type="hidden" name="attributes_id" id="attributes_id" value="{{ i[7] }}" />
<input type="hidden" name="char_id" id="char_id" value="{{ i[0] }}" />
<input type="hidden" name="template_id" id="template_id"value="{{ i[3] }}" />
<input type="hidden" name="user_id" id="user_id"value="{{ i[2] }}" />
<input type="hidden" name="skill_id_1" id="skill_id_1" value="0" />
<input type="hidden" name="skill_id_2" id="skill_id_2" value="0" />
<input type="hidden" name="skill_id_3" id="skill_id_3" value="0" />
<input type="hidden" name="skill_id_4" id="skill_id_4" value="0" />
<input type="hidden" name="skill_id_5" id="skill_id_5" value="0" />
<th><button type="submit">VIEW CHARACTER</button></th></form>
<form action = '/upgrade_portal' method="POST"><th>
<input type="hidden" name="char_id" id="char_id" value="{{ i[0] }}" />
<input type="hidden" name="user_id" id="user_id" value="{{ i[2] }}" />
<input type="hidden" name="template_id" id="template_id"value="{{ i[3] }}" />
<input type="hidden" name="experience_points" id="user_id"value="{{ i[5] }}" />
<input type="hidden" name="character_level" id="character_level" value="{{ i[6] }}" />
<input type="hidden" name="attributes_id" id="attributes_id" value="{{ i[7] }}" />
<input type="hidden" name="user_chars_expand" value="{{ user_chars_expand }}">
<input type="text" name="num_xp">
<button type="submit">ADD EXPERIENCE POINTS</button></form></th></h5>
</tr>
{% endfor %}
</table>

{% endblock %}